<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Unbenanntes Dokument</title>
<link href="styles/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--###DOCUMENT_BODY### start-->
<div id="headerContainer">
	<a href="index.php"><img src="fileadmin/template/images/airko_logo.png" width="239" height="110" alt="airko logo" /></a>
</div>
<div id="navigationContainer">
	<div id="navigation">
    	<!--###NAVIGATION### start-->
        <a href="">Die weiße Kraft</a><a href="">Programm</a>
        <!--###NAVIGATION### end-->
    </div>
    <div id="languageChanger">
    	<!--###SPRACHWECHSLER### start-->
        <img src="fileadmin/template/images/flag_eng.png" width="27" height="30" alt="englisch" />
        <img src="fileadmin/template/images/flag_deu.png" width="27" height="30" alt="deutsch" />
        <!--###SPRACHWECHSLER### end-->
    </div>
</div>
<div id="contentContainerFolge">
	<div id="leftContentFolge">
    	<div id="subnavigation">
        	<h1><!--###AKTIVNAVI### start-->Druckluftzubehör<!--###AKTIVNAVI### end--></h1>
            <!--###SUBSUBNAVIGATION### start-->
            <a href="#">Kältetrockner</a>
            <a href="#">Kältetrockner</a>
            <a href="#">Kältetrockner</a>
            <a href="#">Kältetrockner</a>
            <!--###SUBSUBNAVIGATION### end-->
        </div>
        <div id="contentMain">
        	<!--###CONTENT_LEFT### start-->
            <h1>Das Airko-Zubehör.</h1>
            <p>
            Zubehör ist keine Nebensache, sondern wichtiger Bestandteil des Airko-System:
            </p>
            <p>
            	Funktionale Ergänzungen, zeitliche Ergänzungen und naheliegende Ergänzungen sorgen dafür,
                <ul>
                	<li>dass Sie immer den maximalen aus Ihren Airko-Kompressoren ziehen können</li>
                    <li>dass Sie immer den maximalen aus Ihren Airko-Kompressoren ziehen können</li>
                </ul>
            </p>
            <!--###CONTENT_LEFT### end-->
        </div>
    </div>
    <div id="rightContent">
    	<div id="rightTopContentFolge">
        	<!--###CONTENT_RIGHT### start-->
            <h1>Intranet Login</h1>
            <!--###CONTENT_RIGHT### end-->            
        </div>
        <div id="rightBottomContentFolge">
        	<h1>Airko GmbH</h1>
            <p>
            	<!--###ADRESSE### start-->
            	Musterstraße 123<br />
                4567 Musterstadt<br />
                Österreich<br />
                Tel. 09876 65 54 32<br />
                Fax 09876 65 54 32 11<br />
                email@airko.at
                <!--###ADRESSE### end-->
            </p>
            <p>
            	<a href="index.php?id=59">Anfahrt</a>
            </p>
        </div>
    </div>
</div>
<br style="clear:left" />
<div id="footer">
	<div id="footerHeader"><img src="fileadmin/template/images/footerHeader.png" width="933" height="7" alt="" /></div>
    <!--###FOOTERNAVI### start-->
    <div class="footerNavi">
    	<a href="" class="first">Die weiße Kraft</a>
        <a href="">Leitsätze</a>
        <a href="">Team</a>
    </div>
    <div class="footerNavi">
    	<a href="" class="first">Die weiße Kraft</a>
        <a href="">Leitsätze</a>
        <a href="">Team</a>
    </div>
    <div class="footerNavi">
    	<a href="" class="first">Die weiße Kraft</a>
        <a href="">Leitsätze</a>
        <a href="">Team</a>
    </div>
    <div class="footerNavi">
    	<a href="" class="first">Die weiße Kraft</a>
        <a href="">Leitsätze</a>
        <a href="">Team</a>
    </div>
    <div class="footerNavi">
    	<a href="" class="first">Die weiße Kraft</a>
        <a href="">Leitsätze</a>
        <a href="">Team</a>
    </div>
    <div class="footerNavi">
    	<a href="" class="first">Die weiße Kraft</a>
        <a href="">Leitsätze</a>
        <a href="">Team</a>
    </div>
    <div class="footerNavi">
    	<a href="" class="first">Die weiße Kraft</a>
        <a href="">Leitsätze</a>
        <a href="">Team</a>
    </div>
    
    <!--###FOOTERNAVI### end--><br style="clear:left" />
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12308877-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!--###DOCUMENT_BODY### end-->
</body>
</html>
