<f:form action="index" name="filter" object="{filter}">
    <div>
        <legend>
            <f:translate key="sortiment" />
            <f:form.select property="sortiment" options="{sortiment}" optionLabelField="bezeichnung" optionValueField="uid" prependOptionLabel="{f:translate(key: 'auswaehlen')}" prependOptionValue="0" />
        </legend>
    </div>

    <f:if condition="{filter.sortiment}">
        <div>
            <legend>
                <f:translate key="modellgruppe" />
                <f:form.select property="modelgroup" options="{modelgroups}" optionLabelField="bezeichnung" optionValueField="uid" prependOptionLabel="{f:translate(key: 'auswaehlen')}" prependOptionValue="0" />
            </legend>
        </div>
    </f:if>
  <f:if condition="{filter.sortiment} && {filter.modelgroup}">

      <f:if condition="{products}">
          <f:then>
              <h3><f:translate key="modellauswahl" /></h3>
              <table>
                  <f:for each="{products}" as="product">
                      <tr>
                          <th>{product.bezeichnung}</th>
                          <td><f:link.action action="product" arguments="{product:product.uid}"><f:translate key="anzeigen" /></f:link.action></td>
                      </tr>
                  </f:for>
              </table>
          </f:then>
          <f:else>

          </f:else>
      </f:if>
    </f:if>

    <f:form.submit value="{f:translate(key: 'absenden')}"/>
</f:form>
