<h1>{product.bezeichnung}</h1>
<h2><f:translate key="bestellnummer" />: {product.bestellnummer}</h2>

<f:if condition="{product.image}">
    <f:image maxWidth="600" src="{product.image}"/>
</f:if>

<f:if condition="{spareparts}">
    <table>
        <tr>
            <th><f:translate key="positionsnummer" /></th>
            <th><f:translate key="ersatzteilbestellnummer" /></th>
            <th><f:translate key="ersatzteilbezeichnung" /></th>
            <th><f:translate key="menge" /></th>
            <th><f:translate key="einheit" /></th>
            <th><f:translate key="preis" /></th>
            <th><f:translate key="gueltigbis" /></th>
        </tr>
        <f:for each="{spareparts}" as="part">
            <tr>
                <td>{part.posnummer}</td>
                <f:if condition="{part.ersatzteilbezeichnung}">
                    <f:then>
                        <td>{part.bestellnummer}</td>
                        <td>{part.bezeichnung}</td>
                    </f:then>
                    <f:else>
                        <td></td>
                        <td></td>
                    </f:else>
                </f:if>
                <td>{part.anzahl}</td>
                <td>{part.einheit}</td>
                <td>
                    <f:if condition="{part.preis} && {part.ersatzteilbezeichnung}">
                        {part.preis -> f:format.currency(decimalSeparator: ',', thousandsSeparator: '.')}
                    </f:if>
                </td>
                <td>{f:if(condition:part.gueltigbis,then:part.gueltigbis,else:'aktuell')}</td>
            </tr>
        </f:for>
    </table>
</f:if>
