ul.navi li ul
{
	display:none;
}


ul.navi {
	list-style-type: none;
	margin:5px 0 0 0;
	padding:0;
}


ul.navi li {
	padding: 0;
	margin: 0;
	float: left;
	height: auto;
	list-style-type: none;
	white-space: nowrap;
	position:relative;
	display:inline;
}

ul.navi li a, ul.navi li a:link, ul.navi li a:visited, ul.navi li a:hover, ul.navi li a:active {
	color:#000000;
	text-decoration:none;
	display:inline;
	width:auto;
	height:27px;
	margin:0 28px 0 0;
	font-weight:normal;
}

